<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>symbol01.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,0},{140,140}}</string>
                <key>offset</key>
                <string>{140,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>symbol02.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,0},{140,140}}</string>
                <key>offset</key>
                <string>{280,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>symbols_all.jpg</string>
            <key>size</key>
            <string>{980,420}</string>
            <key>textureFileName</key>
            <string>symbols_all.jpg</string>
        </dict>
    </dict>
</plist>
